<style>
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}
	
	.switch input {display:none;}
	
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	input:checked + .slider {
	  background-color: #2196F3;
	}
	
	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}
	
	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}
	
	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}
	
	.slider.round:before {
	  border-radius: 50%;
	}
	</style>
<div>
  <div class="modal-header">
      <h3 class="modal-title">Edit Loan</h3>
  </div>
  <div class="modal-body">
    
    <form name"loanForm">

	<div class="block">
  		<label>Loan Number</label>
  		<input class="input" type="text" disabled value="{{vm.entity.loanId}}" />
	</div>
	<div class="block">
		<label>Street</label>
		<input class="input" type="text" disabled value="{{vm.entity.street}}" />
    </div>
    <div class="block">
		<label>City</label>
		<input class="input" type="text" disabled value="{{vm.entity.city}}" />
    </div>
    <div class="block">
		<label>State</label>
		<input class="input" type="text" disabled value="{{vm.entity.state}}" />
    </div>
    <div class="block">
		<label>Zip Code</label>
		<input class="input" type="text" disabled value="{{vm.entity.zipCode}}" />
    </div>
	<div class="block">
  		<label>Loan Amount</label>
  		<input class="input" type="text" disabled value="{{vm.entity.loanAmount}}"/>
	</div>
	<div class="block">
  		<label>Interest Rate</label>
  		<input class="input" type="text" ng-model="vm.entity.interestRate"/>
	</div>
	<div class="block">
  		<label>UPB</label>
  		<input class="input" type="text" ng-model="vm.entity.upb"/>
	</div>
	<div class="block">
        <label class="col-md-4 control-label">Liquidated</label>
        <div class="col-md-2">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
                </label>
        </div>
    </div>
	<div class="block">
  		<label>Monthly Payment</label>
  		<input class="input" type="text" ng-model="vm.entity.monthlyPaymentAmount"/>
	</div>
	<div class="block">
  		<label>Loan Duration</label>
  		<input class="input" type="text" ng-model="vm.entity.loanDuration"/>
    </div>
    <div class="block">
        <label>Borrower's Name</label>
        <input class="input" disabled type="text" ng-model="vm.entity.firstName"/>
    </div>
    <div class="block">
        <label>Borrower's ID</label>
        <input class="input" disabled type="text" ng-model="vm.entity.borrowerId"/>
    </div>
			
	</form>
	
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="vm.save()">Save</button>
      <!-- <button class="btn btn-primary" ng-click="vm.remove()">Delete</button> -->
      <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>